* {
    margin: 0;
    padding: 0;
}

body {
background-color:black;
font-size: 15px;
font-family: 'Lexend Deca', sans-serif;
}

main {
    border: 1px solid black;
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
        /* center component to middle of page */
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        margin: auto;
}

div {
    width:33.33%;
    height: 100%;
}

.container {
    width: 80%;
    height: 80%;
    margin: 10%;
    color: white;
}

    .container h1, p, button {
        margin: 0 0 10% 5%;
    }

    h1 {
        font-family: 'Big Shoulders Display', cursive;
        font-size:3.5rem;
    }

.image-container {
    margin: 15% 5%;
    width: 100%;
    height: auto
}

p {
    height: 300px;
    width: 85%;
    font-size: 1.2rem;
    line-height: 2;
}

button {
    width: 55%;
    height: 10%;
    border-radius: 35px;
    border: solid 2px white;
    /* margin-top:25%; */
    /* bottom: 0px; */
}

#sedan {
background-color:hsl(31, 77%, 52%);
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
}

#sedan button {
    background-color:white;
    color:hsl(31, 77%, 52%);
}

#sedan button:hover {
    background-color:transparent;
    color: white;
    cursor: pointer;
}

#suv {
    background-color:hsl(184, 100%, 22%);
}

#suv button {
    background-color:white;
    color:hsl(184, 100%, 22%);
}

#suv button:hover {
    background-color:transparent;
    color: white;
    cursor: pointer;
}

#luxury {
    background-color:hsl(179, 100%, 13%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#luxury button {
    background-color:white;
    color:hsl(179, 100%, 13%);
}

#luxury button:hover {
    background-color:transparent;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 1400px) {


    button {
        margin-top:5%;
    }

    #luxury button {
        margin-top:0;

    }

    #luxury p {
        /* margin-bottom:0; */
    }
}

@media only screen and (max-width: 986px) {
    main {
        flex-direction: column;
        width: 80%;
        height: 75%;
        margin-top: 5%;
    }

    #sedan {
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
    }

    .image-container {
        margin: 5px;
    }

    #luxury {
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0;
    }

    div {
        width:100%;
        height: 100%;
    
    }
    button {
        margin-top: 0;
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
        width: 80%;
        height: 75%;
        margin-top: 10%;
    }

    .container {
        height:70%;
    }

    P {
        font-size: 18px;
        height: 225px;
    }

    #sedan {
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
    }

    #luxury {
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0;
    }

    div {
        width:100%;
        height: 100%;
    
    }

    button {
        font-size:18px;
    }
    
}
